.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background-color: #222222;

    border: 1px solid #ccc;
    width: 304px;
    height: 380px;
    
    text-decoration: none;
    color: #ffffff;
  }
  
  .title {
    text-align: left;
    width: 240px;
height: 80px;
padding-top: 48px;
padding-bottom: 48px;
color:#ffffff

  }
  
  .location {
    display: flex;
    margin-bottom: auto;
    padding-top: 16px;


  }
  
  .jobFamily {
    text-align: left;
    border: 1px solid #ffffff;
    border-radius: 42px;
    width: 119px;
    height: 20px;
    padding: 2px 16px;
    text-align: center;
  }
  



.featuredJobsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}