.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 304px;
    height: 380px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .imageContainer {
    flex-grow: 1;
    width: 100%;
    position: relative;
  }
  
  .title {
    text-align: left;
    width: 240px;
    height: 80px;
    padding-top: 48px;
    padding-bottom: 48px;
    color:#ffffff;
  }
  