/* Navbar.module.css */
.openInNewIcon {
  color: white;

  margin-left: 6px;
}
.navbarLogo {
  margin-right: 20px; /* Adds some space between the logo and the buttons */
}

/* If you'd like a custom background color for the navbar */
.appBarCustom {
  background-color: #333; /* Or any color you prefer */
}

.navBarLinks {
  position: relative !important;
  margin: 0 auto !important;
  width: fit-content !important;
  justify-content: center !important;
  text-transform: none !important;
}

.navBarCta {
  color: #ffffff !important;
  border-color: #ffffff !important;
  text-transform: none !important;

  font-family: HM Group Ampersand !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 21px !important; /* 150% */
}

.navBarCta:hover {
  color: #000000 !important;
  background-color: #ffffff !important;

  border-color: #000000 !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
}

.hamburgerButton {
  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
  font-size: 30px;
  width: fit-content;
  padding: 0;
}

.css-6jat1c {
  text-transform: none;
  font-family: HM Group Ampersand !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 21px !important;
}
.MuiButton-text {
  text-transform: none !important;
  font-family: HM Group Ampersand !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 21px !important;
}
