.introWrapper h2 {
  margin: 0 128px;
}

.introWrapper div {
  margin: 0 128px;
}

.hiringImage {
  width: 1200px;
}

.quickLinksButton {
  display: block;
  padding: 16px 32px;
  align-items: center;
  color: #000000;
  border: 1px solid #000;
  margin: 24px auto;
  width: 536px;
  text-transform: none;
  border-radius: 0;
}
.quickLinksButton:hover {
  color: white;
}

.quickLinksArrow {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 40px;
  margin: 8px 0 0 0;
  float: right;
}

.quickLinkText {
  display: inline-block;
  width: fit-content;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
}

/* Extra small devices (portrait phones, less than 375px) */
@media (max-width: 375px) {
  .introWrapper h2 {
    margin: 0 24px;
    width: 327px !important;
  }

  .introWrapper div {
    margin: 0 24px;

    width: 327px !important;
  }

  .hiringImage {
    width: 327px;
  }

  .quickLinksButton {
    padding: 16px 32px;
    align-items: center;

    margin: 24px 0;
    width: 100%;
  }

  .quickLinkText {
    display: inline-block;
    width: fit-content;

    font-family: HM Group Ampersand;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }

  .quickLinksArrow {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 40px;
    margin: 0 0 0 0;
    float: right;
  }

  .quickLinksArrow {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 40px;
    margin: 2px 0 0 0;
    float: right;
  }
}

/* Small devices (landscape phones, 376px to 768px) */
@media (min-width: 376px) and (max-width: 768px) {
  .introWrapper h2 {
    margin: 0 40px;
  }

  .introWrapper div {
    margin: 0 40px;
  }

  .hiringImage {
    width: 100%;
  }
}

/* Medium devices (tablets, 769px and up) */
@media (min-width: 769px) and (max-width: 1199px) {
  /* Adjustments for tablets can be added here */
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Adjustments for large desktops can be added here */
}

/* Custom breakpoint for 4K and large screens */
@media (min-width: 2560px) {
  /* Adjustments for 4K and large screens can be added here */
}
