.likeToWorkText {
  margin: 0 auto;
}

.ourTechAreasAccordion {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 80%;
  height: 120px;

  border: 1px dashed #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 64px;

  width: 944px;
  height: 120px;
  margin-bottom: 20px;
}

.introWrapper {
  padding: 0px 64px;
  width: 944px;
  height: 240px;
  display: block;
  margin: auto 0;
  padding: 120px 0;
}

#collapsible-trigger-1685710015014 {
  background-color: red;
}

.accordionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  gap: 24px;
  border: 1px dashed #000000;
  width: 80%;
  height: 120px;
  border-top: 1px solid #000000;
}

.Collapsible__contentInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  gap: 24px;

  width: 80%;
  height: 120px;
  border: 1px solid #000000;
}
.Collapsible__contentOuter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  gap: 24px;

  width: 816px;
  height: 120px;
  border: 1px solid #000000;
}

.techAreaImageContainer {
  aspect-ratio: 3/1;
  position: relative;
}

.introTitle {
  width: 576px;
  text-align: left;
  margin: 0 128px;
  padding-bottom: 16px;
}

.introText {
  margin: 0 128px;
  width: 576px;
}

.ourTechAreasTitle {
  margin: auto;
}

.ourTechAreasContainer {
  margin: auto;
  height: fit-content;
  width: 80%;
  margin-bottom: 100px;
}

.reImagineContainer {
  margin: auto;
  margin-top: 100px;
  margin-left: 0;
  height: fit-content;
  width: 80%;
  text-align: center;
}

.reImagineContainer img {
  margin: 0 40px;
  width: 816px;
  height: 459px;
}

.ourCultureAndValuesContainer {
  margin: auto;
  margin-top: 100px;
  height: fit-content;
  width: 80%;
}

.quickLinksButton {
  display: block;
  padding: 16px 32px;
  align-items: center;
  color: #000000;
  border: 1px solid #000;
  margin: 24px auto;
  width: 536px;
  text-transform: none;
  border-radius: 0;
}
.quickLinksButton:hover {
  color: white;
}

.quickLinksArrow {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 40px;
  margin: 8px 0 0 0;
  float: right;
}

.quickLinkText {
  display: inline-block;
  width: fit-content;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
}

/* Extra small devices (portrait phones, less than 375px) */
@media (max-width: 375px) {
  .likeToWorkText {
    margin: 0 0 0 24px;
  }

  .introWrapper {
    padding: 24px 0;
    width: 100%;
    margin: 0 0;
    height: 240px;
    display: block;
    margin: auto 0;
  }

  .introTitle {
    width: 327px;
    text-align: left;
    margin: 0 24px;
    padding-bottom: 16px;
    width: 327px;
  }

  .introText {
    margin: 0 24px;
    width: 327px;
  }
  .ourTechAreasTitle {
  }

  .ourTechAreasContainer {
    margin: 0 24px;
  }

  .reImagineContainer {
    margin: 0 24px;
    margin-top: 100px;
    height: fit-content;
    text-align: left;
  }

  .reImagineContainer h2 {
    margin: 0 24px;

  margin-left: 0;
    margin-top: 100px;
    height: fit-content;
    text-align: left;
    width: 100%;
  }

  .reImagineContainer img {
    margin: 0 auto;
    width: 324px;
    height: 182px;
  }
  .ourCultureAndValuesContainer {
    margin: 0 24px;
    margin-top: 100px;
    height: fit-content;
    width: auto;
  }
  .ourCultureAndValuesContainer p {
    width: 324px;
  }

  .ourBenefitsContainer {
    margin: 100px 24px;
    height: fit-content;
    width: auto;
    
  }
  .ourAreasImage {
    margin: 0 auto;
    width: 324px;
    height: 182px;
  }

  .quickLinksButton {
    padding: 16px 32px;
    align-items: center;

    margin: 24px 0;
    width: 100%;
  }

  .quickLinkText {
    display: inline-block;
    width: fit-content;

    font-family: HM Group Ampersand;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }

  .quickLinksArrow {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 40px;
    margin: 0 0 0 0;
    float: right;
  }

  .quickLinksArrow {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 40px;
    margin: 2px 0 0 0;
    float: right;
  }
}

/* Small devices (landscape phones, 376px to 768px) */
@media (min-width: 376px) and (max-width: 768px) { .likeToWorkText {
  margin: 0 0 0 24px;
}

.introWrapper {
  padding: 24px 0;
  width: 100%;
  margin: 0 0;
  height: 240px;
  display: block;
  margin: auto 0;
}

.introTitle {
  width: 327px;
  text-align: left;
  margin: 0 24px;
  padding-bottom: 16px;
  width: 327px;
}

.introText {
  margin: 0 24px;
  width: 327px;
}
.ourTechAreasTitle {
}

.ourTechAreasContainer {
  margin: 0 24px;
}

.reImagineContainer {
  margin: 0 24px;
  margin-top: 100px;
  height: fit-content;
  text-align: left;
}

.reImagineContainer h2 {
  margin: 0 24px;

margin-left: 0;
  margin-top: 100px;
  height: fit-content;
  text-align: left;
  width: 100%;
}

.reImagineContainer img {
  margin: 0 auto;
  width: 324px;
  height: 182px;
}
.ourCultureAndValuesContainer {
  margin: 0 24px;
  margin-top: 100px;
  height: fit-content;
  width: auto;
}
.ourCultureAndValuesContainer p {
  width: 100%;
}

.ourBenefitsContainer {
  margin: 100px 24px;
  height: fit-content;
  width: auto;
}
.ourAreasImage {
  margin: 0 auto;
  width: 324px;
  height: 182px;
}

.quickLinksButton {
  padding: 16px 32px;
  align-items: center;

  margin: 24px 0;
  width: 100%;
}

.quickLinkText {
  display: inline-block;
  width: fit-content;

  font-family: HM Group Ampersand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.quickLinksArrow {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 40px;
  margin: 0 0 0 0;
  float: right;
}

.quickLinksArrow {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 40px;
  margin: 2px 0 0 0;
  float: right;
}
}

/* Medium devices (tablets, 769px and up) */
@media (min-width: 769px) and (max-width: 1199px) {

  .ourCultureAndValuesContainer p {
    width: 576px;
  }
  .reImagineContainer {
    margin: auto;
    margin-top: 100px;
    margin-left: 0;
    height: fit-content;
    width: 80%;
    text-align: center;
  }
  
  .reImagineContainer img {
    margin: 0 40px;
    width: 816px;
    height: 459px;
  }
  /* Adjustments for tablets can be added here */
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ourCultureAndValuesContainer p {
    width: 576px;
  }
  .reImagineContainer {
    margin: auto;
    margin-top: 100px;
    height: fit-content;
    text-align: center;
    width: 944px;

  }
  
  .reImagineContainer img {
    margin: 0 40px;
    width: 816px;
    height: 459px;
  }

  .ourBenefitsContainer {
    height: fit-content;

    margin: auto;
    width: 80%;

  }
  /* Adjustments for large desktops can be added here */
}

/* Custom breakpoint for 4K and large screens */
@media (min-width: 2560px) {
  .ourCultureAndValuesContainer p {
    width: 576px;
  }
  .reImagineContainer {
    margin: auto;
    margin-top: 100px;
    margin-left: 0;
    height: fit-content;
    width: 80%;
    text-align: center;
  }
  
  .reImagineContainer img {
    margin: 0 40px;
    width: 816px;
    height: 459px;
  }

  .ourBenefitsContainer {
    height: fit-content;

    margin: auto;
    width: 80%;

  }
  /* Adjustments for 4K and large screens can be added here */
}
